* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body,
html {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #02FFF0 0%, #00FFB2 100%);
}

.subtitle {
    font-weight: 500;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.alert-container {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width:1000px) {
    .rows {
        display: none;
    }
    .alert-container {
        display: flex;
    }
}

.middle-container {
    display: flex;
    width: 530px;
    height: 430px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2rem 4rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04FFD2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04FFD2;
    cursor: pointer;
}