<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Tworzenie pokoju</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 vh-8" style=" line-height: 8vh;">
            <h1>Tworzenie pokoju</h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12 vh-40" style="border: 1px solid black;">
            <button onclick="location.href='/';">Wróć</button>
            <form action="" method="post" novalidate class="joinForm">
                <p>Wybierz czas trwania pojedyńczej tury:</p>
                <input type="range" min="4" max="120" name="turn_length" id="turn_length" oninput="changeTurnLength(this.value)" onchange="changeTurnLength(this.value)" />
                <p id="turn_length_p"></p>
                <p>Wybierz ilość tur:</p>
                <input type="range" min="1" max="20" name="turn_count" id="turn_count" oninput="changeTurnCount(this.value)" onchange="changeTurnCount(this.value)"/>
                <p id="turn_count_p"></p>
                {{ form.submit(class_='formFields')}}<br>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/createRoom.js"></script>
</body>
</html>