<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/game.css') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <title>Gra</title>
</head>

<body>
    <div class="main-container">
        <div class="columns is-flex-wrap-wrap">
            <div class="margin-bottom column left-side-container">
                <div class="upper-left-container">
                    <div class="drawing-tools">
                        <div id="draw-tools">
                            <div class="colors-container" style="visibility: hidden;">
                                <input class="color-button mr-2" style="background-color: red;" id="red" type="button">
                                <input class="color-button mr-2" style="background-color: green;" id="green" type="button">
                                <input class="color-button mr-2" style="background-color: yellow;" id="yellow" type="button">
                                <input class="color-button mr-2" style="background-color: blue;" id="blue" type="button">
                                <input class="color-button mr-2" style="background-color: black;" id="black" type="button">
                                <input class="color-button mr-2" style="background-color: white;" id="white" type="button">
                                <button class="color-button mr-2" style="background-color: lightpink; " id="clear" type="button">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                            <div class="pencils-container" style="visibility: hidden;">
                                <input class="pencil-button mr-2" style="height: 28px;" id="max-width" type="button">
                                <input class="pencil-button mr-2" style="height: 22px;" id="medium-width" type="button">
                                <input class="pencil-button" style="height: 16px;" id="small-width" type="button">
                            </div>
                        </div>
                    </div>
                    <div class="timer-container">
                        <div class="color-button center timer" id="timer">
                            -
                        </div>
                    </div>
                </div>
                <div class="canvas" id="canvasContainer">
                    <canvas id="gameCanvas" width="1000" height="700"></canvas>
                </div>
                <div class="word-container" style="visibility: hidden;">
                    <div class="word-box">
                        Hasło:
                        <p id="word">...</p>
                        <button class="color-button delete-button" style="background-color: rgb(255, 86, 86); " id="delete" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column right-side-container responsive">
                <div class="upper-right-container">
                    <div class="current-drawing-container">
                        <div class="current-drawing-box">
                            Rysuje:&nbsp;<b>
                                <p id="drawer">---</p>
                            </b>
                        </div>
                    </div>
                    <div class="room-id-container">
                        <div class="room-id">
                            ID:
                            <p id="room_id">{{room_id}}</p>
                        </div>
                    </div>
                </div>
                <div class="score-table-container">
                    <div class="score-table">
                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                                <th></th>
                                <th>Użytkownik</th>
                                <th>Wynik</th>
                            </thead>
                            <tbody id="tableBody"> 
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chat-container">
                    <div id="messageContainer" class="messages-box">
                    </div>
                    <div class="input-message-container">
                        <input id="typedMessage" class="input is-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exit-button">
        <button class="button is-success" id="startGame">Start</button>
        <button class="button is-danger" id="backToApp">Wyjdź</button>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/game.js"></script>
</body>

</html>
